/* ELEMENTI COMUNI */

html {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 1.8rem;
  font-weight: bold;
  color:brown;
  margin-top: 0.8em;
    margin-left: 1.2em
}

.exit{
  font-size: 1.6rem;
  font-weight: bold;
  color:brown;
  margin-top: 0.8em;
  margin-left: 1.2em;
}

p {
  font-size: 1rem;
}

li {
  font-size: 1.2rem;
  font-weight: bold;
}

.latest {
  margin-left: 1.5em;
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 1.5em;
}

/* CARD */

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1.5em;
}

#card {
  background-color: blanchedalmond;
  border: 1px solid black;
  border-radius: 15px;
}

article {
  display: flex;
  flex-direction: column;
  background-color: bisque;
  border: none;
  width: 300px;
  border-radius: 50px;
  margin-bottom: 1.2em;
}

article img {
  width: 100%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.card-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color: brown;
  padding: 0.8em;
}

.text {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

article button {
  border: none;
  background-color: #f3df85;
  padding: 0.5em;
  border-radius: 50px;
  color: brown;
  margin-top: 1.2em;
  font-weight: 900;
  width: 70%;
}

.card-content h2 {
  font-weight: bold;
}

.card-content p {
  font-size: 0.8rem;
}

/* NAVBAR */

nav {
  background-color: bisque;
  display: flex;
  padding: 2em;
}

header ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header button {
  border: none;
  background-color: #f3df85;
  padding: 1em;
  border-radius: 40px;
  color:brown;
  font-weight: bold;
}

button img{
  width: 40px;
}

.btn{
  display: flex;
  align-items: center;
  padding:1.4em
}

/* ASIDE */

aside {
  display: flex;
  flex-direction: column;
 
}

.container {
  margin:1.5em;
  padding: 2em;
  background-color: bisque;
  color: brown;
  border-radius: 50px;
}

aside h2 {
  margin-bottom: 1.2em;
  font-size: 1.2em;
  font-weight: bold;
}

.container img {
  width: 100%;
  margin-top: 1.2em;
}

@media screen and (max-width: 575px) {
  
/* header */
  nav{
    background-color: white;
    padding:1.2em;
  }

 ul{
  background-color: bisque;
  padding: 2em;
  flex-wrap: wrap;
  border-radius: 70px;
 }

 ul{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  padding:1.2em;
}
ul :nth-child(1) { order: 2; }
ul :nth-child(2) { order: 3; }
ul :nth-child(3) { order: 1;
width: 100%; }
ul :nth-child(4) { order: 4; }
ul :nth-child(5) { order: 5; }



.btn{
  width: 100%;
  margin-bottom: 0.4em;
  justify-content: center;
}

header button{
  margin: 0.3em;
    width: 10em;
}

/* main */
main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  margin-left: 0;
  text-align: center;
}

article{
  width: 350px;
}


.exit{
  text-align: center;
  margin-left: 0;
}



}

@media screen and (min-width:760px){

}